* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

ul > li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-transform: none;
}

img {
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  background-color: #1c1c1c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero {
  background: url(../img/content/hero_bg.jfif) no-repeat center/cover;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 201px;
  top: 0px;
}

.nav {
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 28px;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.btn {
  padding: 15px 36px;
  background: #f6762c;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.hero__content {
  max-width: 49%;
  padding-top: 186px;
}

.hero__main {
}

.hero__headline {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.title {
  font-weight: 500;
  font-size: 57px;
  line-height: 1.18;
}

.hero__title {
  margin-bottom: 25px;
}

.hero__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 42px;
}

.food {
  padding: 115px 0px 102px;
}

.food__list {
  display: flex;
  justify-content: space-between;
}

.food__item {
  width: calc(25% - 23px);
}

.dish {
  background: #312f30;
  border-radius: 10px;
  overflow: hidden;
}

.dish__img-wrap {
  width: 100%;
  height: 175px;
  overflow: hidden;
}

.dish__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dish__desc {
  padding-top: 28px 35px 35px;
  text-align: center;
}

.dish__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 13px;
}

.dish__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
}

.order {
  padding: 73px 0px;
  background: #312f30;
}

.order__container {
  display: flex;
  align-items: center;
}

.order__img-wrap {
  width: 50%;
}

.oder__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.order__desc {
  width: 50%;
  display: flex;
  justify-content: center;
}

.action {
}

.order__action {
  min-width: 371px;
  padding: ;
}

.action__tittle {
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
  margin-bottom: 24px;
}

.action__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 13px;

}

.action__price {
  margin-bottom: 11px;
}

.action__price-new {
  font-weight: 500;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.1em;
color: rgba(246, 118, 44, 1);

}

.action__price-old {
  font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.1em;
text-decoration-line: line-through;
color: rgba(246, 118, 44, 0.5);
}

.btn {
}
